<html>
	<head>
	  <meta charset="utf-8">
	  <title>Magic: The Gathering cube manager</title>
	  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
	</head>

	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>Magic: The Gathering cube manager</h1>
				<br>
				<p>This is an application to be used in the management of a Magic: The Gathering cube. If you are unfamiliar with Magic: The Gathering, check <a href="magic">here</a> for more information, and if you are unfamiliar with a cube, check <a href="cube">here</a>. The goals of this project are to create an application that will: construct a cube(in progress), give statistics on color distribution, mana curve, and others for a given cube(in progress), and simulate the random generation of packs from the cube to be used in a draft(in progress). If you have any ideas that you think would be a beneficial addition to this project, please see <a href="contact">here</a>.</p>
			</div>
			<div class="row">
				<div class="span4">
					<h2>Cubes</h2>
					<p>Here you can create or edit an existing cube.</p>
				</div>
				<div class="span4">
					<h2>Statistics</h2>
					<p>Here you can get information on a given cube such as color distribution, mana curve, and more.</p>
				</div>
				<div class="span4">
					<h2>Draft</h2>
					<p>Here you can select a cube, and randomly sort the cards into packs and simulate a draft.</p>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<p>
						<a class="btn" href="#">Let's go!</a>
					</p>
				</div>
				<div class="span4">
					<p>
						<a class="btn" href="#">Let's go!</a>
					</p>
				</div>
				<div class="span4">
					<p>
						<a class="btn" href="#">Let's go!</a>
					</p>
				</div>
			</div>
		</div>


	</body>
</html>